

.link{
    text-decoration: none;
    color: #000;
}

/* STUDENT REVIEW SECTION */
.Review-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 30px;
}



@media screen and (max-width: 768px) {
    .image{
        margin-bottom: 30px;
    }
  }